
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>example</title>
        <meta charset="UTF-8">
        <link href="../css/vendor.bundle.css" rel="stylesheet">
        <link href="../css/common.bundle.css" rel="stylesheet">
        <link href="../css/example.bundle.css" rel="stylesheet">
        <script type="text/javascript" src="../scripts/manifest.bundle.js" ></script>
        <script type="text/javascript" src="../scripts/vendor.bundle.js" ></script>
        <script type="text/javascript" src="../scripts/common.bundle.js" ></script>
    </head>
    <body>
         <div id='root'></div>
         <script type="text/javascript" src="../scripts/example.bundle.js" ></script>
    </body>
</html>
